body {
    background: #f2f4f9;
    
    canvas {
        display: none;
    }
    #root {
        section {
            width: 100%;
            height: calc(100vh);
            padding-top: 73px;
        }
        #pageNav {
            padding: 1em;
        }
        
        #main {
            background: #f2f4f9;

            #portrait {
                position: relative;
                width: 20em;
                height: 20em;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }

            #intro {
                h4, h1 {
                    position: relative;
                    width: max-content;
                    left: 50%;
                    top: 35%;
                    transform: translate(-50%, -35%);
                    
                }
                div, div > a{
                    position: relative;
                    left: 50%;
                    top: 45%;
                    transform: translate(-50%, -40%);
                }
            }
        }
        #about, #projects {
            background: white;
        }

    
    }
}
html:not([data-scroll='0']) {
    #pageNav {
        background-color: white !important;
        box-shadow: 5px 5px 5px grey;
        border-radius: 0px 0px 20px 20px;
    }
}

.center {
    position: relative;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .fullsize {
      width: 100% !important;
      height: 100% !important;
  }