@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300&family=Open+Sans:wght@300;400&display=swap');

body {
    background: #f2f4f9;
    
    #root {
        #pageNav {
            padding: 1em;
            font-family: 'Open Sans', sans-serif;
            .container {
                width: max-content;
                text-align: center;
            }
            .navbar-brand {
                font-family: 'Dancing Script', 'Open Sans', sans-serif;
                font-size: 20px;
                text-align: center;

                span {
                    text-align: center;
                }
            }
        }
        section {
            width: 100%;
            height: calc(100vh);
            padding-top: 73px;
            border: 10px 10px black;
        }
        
        #main {
            background: #f2f4f9;

            #portrait {
                position: relative;
                width: auto;
                height: 55vmin;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                shape-outside: circle(10%);
            }

            #intro {
                h4 {font-family: 'Montserrat', sans-serif; font-size: 4vh;}
                h1, intro-button {font-family: 'Open Sans', sans-serif; font-size: 5vh;}

            }
        }

        #about {
            .container {
                // max-width: 80vh !important;
            }
            // height: max-content;;
            .about-img {
                shape-outside: circle(50%);
                // border-radius: 100%;
                position: relative;
                left: 50%;
                transform: translate(-50%);

            }
            .about-p{
                // text-align: justify;
                font-family: 'Montserrat', sans-serif;
                text-align: center;
            }
        }
        #about, #projects {
            background: white;
        }

    
    }
}
html:not([data-scroll='0']) {
    #pageNav {
        background-color: white !important;
        box-shadow: 5px 5px 5px grey;
        border-radius: 0px 0px 20px 20px;
    }
}

@media (pointer:coarse), (max-){
    #about {
        height: max-content !important;
    }
}

.el {
    width: max-content !important;
}
.center {
    position: relative;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // text-align: center;
  }

  .fullsize {
      width: 100% !important;
      max-width: 80vw !important;
      height: 100% !important;
  }
  