@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300&family=Open+Sans:wght@300;400&display=swap');
// convert variable fonts into all major formats for compatibility -> https://everythingfonts.com/font-face
@mixin font($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src:url($font-file + '.eot');
        src:url($font-file + '.eot?#iefix') format('embedded-opentype'),
            url($font-file + '.woff') format('woff'),
            url($font-file + '.ttf') format('truetype'),
            url($font-file + '.svg#' + $font-family) format('svg');
        font-weight: normal;
        font-style: normal;
    }
}
@include font('Quicksand', 'fonts/Quicksand');



body {
    background: #fff;
    
    #root {
        #pageNav {
            z-index: 3;
            padding: 1em;
            font-family: 'Quicksand','Open Sans';
            // font-weight: 700;
            .container {
                width: max-content;
                text-align: center;
            }
            .navbar-brand {
                font-family: 'Dancing Script', 'Open Sans', sans-serif;
                font-size: 20px;
                text-align: center;

                span {
                    text-align: center;
                }
            }
        }
        section {
            z-index: 0;
            width: 100%;
            height: calc(100vh);
            border: 10px 10px black;
        }
        section > h3 {
            font-family: 'Dancing Script';
            padding: '30px';
            letter-spacing: 5px;
            padding-left: 20px;
        }
        
        #main {
            

            #portrait {
                position: relative;
                width: auto;
                height: 55vmin;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                shape-outside: circle(10%);
            }

            #intro {
                h4 {font-family: 'Dancing Script', sans-serif; font-size: 4vh;}
                h1, intro-button {font-family: 'Montserrat', sans-serif; font-size: 5vh;}

            }
        }

        #about {

            .about-img {
                shape-outside: circle(50%);
                // border-radius: 100%;
                position: relative;
                left: 50%;
                transform: translate(-50%);

            }
            .about-p{
                // text-align: justify;
                font-family: 'Montserrat', sans-serif;
                text-align: center;
            }
        }
        #main, #about, #skills, #projects, #contact {
            // background: white;
        }

        #skills {
            overflow: auto;

            h3,h5 {
                font-family: 'Dancing Script';
                padding: '30px';
                letter-spacing: 5px;
                padding-left: 20px;
            }
            #lineContainer > svg {
                border-radius: 50px;
            }
            .row {
                #skillsetTypeOverviewContainer {
                    border-right: 2px solid #f0f0f0;
                    // box-sizing: border-box;
                    box-shadow: inset -7px 0 5px -7px #c4c4c4;
                    border-radius: 50px 50px 0px 0px;
                    // height: 80vh;
                    padding: 0;
                }

                #skillTypeOverviewContainer {
                    background: white;
                    border-radius: 50px 50px 0px 0px;
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                    // height: 30vh;
                    ul {
                        list-style: none;
                        padding-top: 5vh;

                        li {
                            font-family: 'Quicksand';
                            font-size: 1.5em;
                        }
                    }
                }
                
                #skillsetDetailsContainer {
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 50px;
                    z-index: 40;
                    margin-bottom: 8px;
                    padding-left: 0px;
                    
                    .nav {
                        a {
                            font-family: 'Quicksand';
                        }
                        a:first-child {
                            border-radius: 50px 0px 0px 0px;
                            box-shadow: 1px 1px 10px #f0f0f0;

                            &[aria-selected=true] {
                                box-shadow: inset 1px 1px 10px #f0f0f0;
                                border-bottom: none;
                            }
                        }
                        a:nth-child(2) {
                            border-radius: 0px 50px 0px 0px;
                            box-shadow: 1px 1px 10px #f0f0f0;
                            
                            &[aria-selected=true] {
                                box-shadow: inset 1px 1px 10px #f0f0f0;
                                border-bottom: none;


                            }
                        }


                    }

                    .skillSpanContainer {
                        transform: scale(0.7);
                        display: inline-table;
                        border: 1px dashed #f0f0f0;
                        border-radius: 20px;
                        padding: 6px;
                        margin: -6px;

                        span {
                            padding: 8px !important;
                        }
                    }
                }
                
            }

        }

    
    }
}
// html:not([data-scroll='0']) {
//     #navSVGPath {
//         fill: #ffffff !important;
//         display: trans;
//     }

// }
html:not([data-scroll='0']) {
    #navSVGPath {
        fill: #ffffff !important;
        display: trans;
    }
}

html[isMobile=true] {
    #navCurveSVG, .sectionCurveSVG {
        // width: 100%;
        // height: 20%;
    }
}
html[isMobile=false] {
    #main {
        // background: blue;
    }
}


@media (pointer:coarse), (max-){
    #about {
        height: max-content !important;
    }
}

.el {
    width: max-content !important;
}
.center {
    position: relative;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // text-align: center;
  }

  .fullsize {
      width: 100% !important;
      height: 100% !important;
  }
  
//   BOOTSTRAP OVERRIDES

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}